*.csv
*.jpeg
*.jpg
*.jpg
*.json
*.txt
*.pdf
*.pdf
*.pickle
*.png
*.png
*.pyc
*.xml
*.zip
*.model
*.npy

.bash_history
.cache
.config
.dotnet
.DS_Store
.env
.gitconfig
.ipynb_checkpoints
.ipython
.jupyter
.local
.ssh
.vscode-server

etmenv
nltk_data
past
scikit_learn_data
temporary
tmp
__pycache__

data/*
models/*
outputs/*
__pycache__
.coverage
.mypy_cache
.pytest_cache
.venv
!data/README.md
!models/README.md
!outputs/README.md
!requirements.txt
